# Portfolio V2 .env

# Flask/GraphQL settings
# Authentication token for GraphQL requests
JWT_SECRET_KEY=your-jwt-key

# --- Development (Local) Neo4j Configuration ---
# These are used when environment is "development"
DEV_NEO4J_URI=your-connection-type-and-url
DEV_NEO4J_USER=your-username
DEV_NEO4J_PASSWORD=your_local_password
# Backend URL Configuration
DEV_NEXT_PUBLIC_APP_BACKEND_URL=your-backend-url

# --- Production (Aura) Neo4j Configuration ---
# These are required when environment is "production"
PROD_NEO4J_URI=your-connection-type-and-url # e.g. neo4j+s://xxxx.databases.neo4j.io
PROD_NEO4J_USER=your-username
PROD_NEO4J_PASSWORD=your_aura_db_password
# Backend URL Configuration
PROD_NEXT_PUBLIC_APP_BACKEND_URL=your-backend-url

