---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'bangsluke Portfolio';
const description = 'My portfolio site';
const ogimage = {
  url: '/images/imagedefault.webp',
  alt: 'bangsluke Portfolio',
};
---

<Layout pageTitle={pageTitle} description={description} ogimage={ogimage}>
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold dark:text-white">Coming soon...</h1>
    <p class="text-gray-500 dark:text-gray-400">
      Just tidying up some things...
    </p>
  </div>
</Layout>
